html{
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #0a0a0a;
  font-family: sans-serif;
}
.launch-image {
  min-width: 100vw;
  min-height: 100vh;
}
.launch-caption {
  position: absolute;
  top: 40vh;
  margin-left: 10vw;
}
.launch-logo {
  width: 35vw;
}
.motto {
  font-size: 3em;
  padding: 0.5em;
  color: #3ff3ff;
}
h2 {
  color: #3ff3ff;
  text-align: center;
  margin: 1em;
  padding: 0.5em;
}

h3 {
  color: #3ff3ff;
  text-align: center;
}

h4{
  color: #3ff3ff;
}

h6 {
  color: whitesmoke;
  
  font-size: 1.7em;
  line-height: 1.5em;
  text-align: center;
}

h7{
  color: #16addb ;
  padding: 0.7em;
  font-size: 1.2em;
  text-align: center;
}

.miss-vis {
  margin-top: 5em;
}

.miss-vis p {
  color: whitesmoke;
  padding: 0.7em;
  font-size: 1.5em;
  line-height: 1.2em;
  text-align: left;
}

.miss-vis img {
  width: 50%;
  display: block;
  margin: auto;
}

.domain {
  background-color: #0f0f0f;
}

.domain .card {
  margin: 1em;
}

.domain .card-content {
  color: white;
  background-color: black;
}


.carousel {
  margin-top: -30vh;
  min-height: 100vh;
}

.carousel-item {
}

.carousel .card-content {
  background-color: black;
}

.card span {
  color: #3ff3ff;
}

.carousel h4 {
  color: #3ff3ff;
  font-family: sans-serif;
  font-size: 1.5em;
}

.carousel p {
  color: white;
}

.carousel .card {
  min-width: 20vw;
}

.carousel img {
  height: 300px;
  object-fit: cover;
}

footer h2 {
  font-family: sans-serif;
  font-size: 1.5em;
}

.board-profile-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-profile-icon {
  margin-left: 0.5em;
}

.code-area{
  width:100%;
  border-left-style: solid;
  border-left: 1em;
  border-left-color: grey;
}

.editor{
  margin-top: 2em;
}

.code{
  background-color: black;
  color: white;
  height: 70vh;
  width:100%;
  overflow-y: auto;
  border-color: #3ff3ff;
}

.input-output{
  width: 100%;
}

.input{
  border-style: solid;
  height: 10vh;
  border-color: #3ff3ff;
  background-color: black;
  border-width: 0.1em;
  overflow-y: auto;
  color:white;
}

.output{
  border-style: solid;
  height: 10vh;
  border-color: #3ff3ff;
  background-color: black;
  border-width: 0.1em;
  color: white;
}

.bttn{
  
  margin: 1em;
  background-color: #046fc7;
  color: white;
}

.drop{
  background-color:#16addb;
  width:7em;
  margin-bottom: 0;

}
.drop-list{
  position: fixed;
  border-color: white;
  border-style: solid;
  background-color: black;
  border-width: 0.1em;
}

.drop-item{
  color: white;
  width:7em;
}

.drop-item:hover{
  background-color:#16addb;
}
.contest-menu{
  min-height: 75vh;
}
.contest-btn{
  background-color:#046fc7;
  color: white;
}

.contest-card{
  padding:1em;
  border-radius: 1em;
  min-width: 50%;
  max-width: 100%;
  position: fixed;
  z-index: 5;
}
.contest-card button{
  background-color: #16addb;
  color: black;
}

.contest-display-card{
  padding:1em;
  border-radius: 1em;
  max-width: 70%;
}

.contest-display-card a{
  margin-left: 1em;
  color: white;
}

.contest-desc{
  color: #16addb ;
  padding: 0.7em;
  font-size: 1.2em;
  line-height: 1.2em;
  text-align: left;
  margin-bottom: 2em;
  margin-top: 1em;
}

.nav-wrapper{
  position: fixed;
  top:0;
  width:100%;
  z-index: 1;
}

.navbar{
  background-color: rgb(0,0,0,0.5);
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  align-items: center;
}

.navbar-mobile{
  background-color: rgb(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
  align-items: flex-end;
}

.nav-logo{
  width:30vw;
  visibility: hidden;
}

@media only screen and (min-width: 500px){
  .nav-logo{
    width:15vw;
    visibility: hidden;
  }
}



.pages{
  display: flex;
  justify-content: flex-end;
  width:70vw;
}

.nav-item{
  margin-left: 1em;
  margin-right: 1em;
  color: white;

}

.nav-item:hover{
  background-color: #16addb;
}

.fa-bars{
  color: white;
}

.fa-bars:focus{
  color:#16addb;
}