body {
  overflow-x: hidden;
  background-color: #0a0a0a;
  font-family: sans-serif;
}
.launch-image {
  min-width: 100vw;
  min-height: 100vh;
}
.launch-caption {
  position: absolute;
  top: 40vh;
  margin-left: 10vw;
}
.launch-logo {
  width: 35vw;
}
.motto {
  font-size: 3em;
  padding: 0.5em;
  color: #3ff3ff;
}
.about-us h2 {
  color: #3ff3ff;
  text-align: center;
  margin: 1em;
}

.about-us h3 {
  color: #3ff3ff;
  text-align: center;
}

.about-us h6 {
  color: whitesmoke;
  padding: 0.7em;
  font-size: 1.7em;
  line-height: 1.5em;
  text-align: center;
}

.miss-vis {
  margin-top: 5em;
}

.miss-vis p {
  color: whitesmoke;
  padding: 0.7em;
  font-size: 1.5em;
  line-height: 1.2em;
  text-align: left;
}

.miss-vis img {
  width: 50%;
  display: block;
  margin: auto;
}

.domain {
  background-color: #0f0f0f;
}

.domain h2 {
  color: #3ff3ff;
  text-align: center;
  padding: 1em;
}

.domain .card {
  margin: 1em;
}

.domain .card-content {
  color: white;
  background-color: black;
}

.board h2 {
  color: #3ff3ff;
  text-align: center;
  margin: 1em;
}

.carousel {
  margin-top: -30vh;
  min-height: 100vh;
}

.carousel-item {
}

.carousel .card-content {
  background-color: black;
}

.card span {
  color: #3ff3ff;
}

.carousel h4 {
  color: #3ff3ff;
  font-family: sans-serif;
  font-size: 1.5em;
}

.carousel p {
  color: white;
}

.carousel .card {
  min-width: 20vw;
}

.carousel img {
  height: 300px;
  object-fit: cover;
}

footer h2 {
  font-family: sans-serif;
  font-size: 1.5em;
}

.board-profile-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-profile-icon {
  margin-left: 0.5em;
}

